/* @import url(https://fonts.googleapis.com/css?family=Hind+Siliguri:300,600);
@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do'); */

@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri:300,600|Nothing+You+Could+Do');

@font-face {
  font-family: "VAGRoundedBT-Regular";
  src: url('../assets/VAGRounded_BT.ttf') format("truetype");
}

@font-face {
  font-family: "Futura-Medium";
  src: url('../assets/Futura_Std_Medium.ttf') format("opentype"),
       url('../assets/Futura_Medium.ttf') format("truetype");
}

#contact-img {
  background-image: url('../assets/images/img-01.jpg');
}

/* .texto_portada {
  margin-top: -3em;
  font-size: 20px;
} */

.quienessomos_text {
  padding: 0 15px;
  text-align: justify;
}

.portada_post_line a {
  color: #333;
  font-weight: bold;
  text-shadow: 0 0 6px #FFF;
  text-decoration: none;
  padding: 2px 0;
}

.texto_portada > h4 {
  font-size: 22px;
}

.hero-full-container {
  padding: 18% 0 30%;
}

.quehacemos_text {
  margin-top:20px;
  font-size:20px;
  padding: 0 10px;
  text-align: justify;
}

.quehacemos_text > h2 {
  margin-top: 0
}

.logo_first {
  font-family: 'Futura-Medium';
  color: #eee;
}

#t_portada {
  font-family: 'Futura-Medium';
  text-shadow: 0 0 1px #aaa;
}

.g-gr { color: #EEE; }
.g-az { color: #4285F4; }
.g-ro { color: #EA4335; }
.g-am { color: #FBBC05; }
.g-ve { color: #34A853; }

.fixed-proyectos {
  height: 950px;
}

.img-molona {
  transition: all 0.2s ease-out;
  margin: 15px 0;
}

.img-molona-top {
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}
.img-molona-top:hover{
  clip-path: polygon(4% 0%, 0% 5%, 0% 50%, 0% 95%, 0% 100%, 50% 100%, 96% 100%, 100% 95%, 100% 50%, 100% 0%, 100% 0%, 50% 0%);
}

.img-molona-bot {
  clip-path: polygon(5% 5%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}

.img-molona-bot:hover {
  clip-path: polygon(0% 4%, 100% 0%, 100% 75%, 100% 100%, 75% 100%, 0% 100%, 0% 75%);
}

.logo_second {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 1.15em;
  word-spacing: -8px;
}
.thanks {
  margin-top:40px;
}
.template-title-example > a {
  color: #fff;
}
#theTextArea {
  height: 151px;
  max-width: 100%
}
.navbar-logo-img {
  height: 45px;
  width: 45px;
}
.ult-noticias {
  /* max-width: 400px; */
  /* margin-top: -65px; */
  /* margin-bottom: 65px; */
  /* padding-right: 20px; */
}
.que-hacemos {
  min-height:450px;
}
.mediaimg {
  clip-path: polygon(0 0, 0 100%, 0 100%, 100% 0);
}
.mediohueco {
  display: block;
  position: absolute;
  bottom: 0;
  height: 60%;
}
.mediohueco > .texto {
  margin: 0 15px;
  max-width: 600px;
}

#testimonios {
  height: auto;
  padding: 20px;
  margin: 40px 0
}
#testimonios img {
  box-shadow: 0 2px 2px rgba(0,0,0,.1), 0 4px 4px rgba(0,0,0,.05), 0 8px 8px rgba(0,0,0,.05), 0 16px 16px rgba(0,0,0,.05), 0 32px 32px rgba(0,0,0,.05);
  margin-bottom: 30px;
  /* transition: border-radius 0.1s; */
  /* transition-timing-function: ease-in-out; */
}
/* #testimonios img:hover { */
  /* border-radius: 50% 25% */
/* } */

#chev-move-left {
  top:110px;
  width:0;
  right:0;
  transition: right 0.5s;
  transition-timing-function: ease-out;
}
#chev-move-left:hover {
  right:5;
}
#chev-move-right {
  top:110px
}

.slider_text {
  padding: 0 0 10px 15px;
  text-align: justify;
}

.slider_text-author {
  font-size: 125%;
  text-align: right;
  color: #222;
  padding-left: 30px;
}

.slider_text-source {
  font-size: 90%;
  text-align: right;
  color: #727272;
  padding-left: 30px;
}

@media (max-width:990px){
  .mediohueco > .texto {
    text-align: right;
  }
}

@media (max-width:768px){
  .navbar-brand {
    font-size: 17px;
  }
  .ult-noticias {
    max-width: 100%;
    margin-top: 30px;
    margin-bottom: 5px;
  }
  .mediohueco {
    height: 90%;
  }
  .mediohueco > .texto {
    margin: 0 0px 30px 45px;
    padding-top: 20px;
  }
  #testimonios {
    padding: 0;
    margin: 0;
  }
  #contact-form {
    margin-left: -50px;
    margin-right: -50px;
  }
}
